html {
    margin: 0 auto;
}

body {
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.login {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.stats {
    width: 100%;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 100px 40px;
    line-height: 20px;
    & li {
        border-bottom: 1px solid #ccc;
        padding: 3px 0;
    }
    & li span {
        display: inline-block;
        width: 300px;
    }
}

.admin-img {
    max-width: none;
}