section {
    &.home {
        width: 100%;
        background: #FFFFFF url("../img/home-page-new4.jpg") 50% 0 no-repeat;
        height: 1309px;
        position: relative;

        .edgeLoad-EDGE-267760406 { visibility:hidden; }

        .logo-container {
            position: relative;
            width: 100%;
            max-width: 1154px;
            margin: 0 auto;
            .moving-logo {
                position: absolute;
                top: 220px;
            }
            .slogan {
                position: absolute;
                top: 260px;
                left: 680px;
                box-sizing: border-box;
                font-size: 45px;
                line-height: 54px;
                color: #002c9e;
                font-weight: bold;
                border-left: 1px #39a1e4 solid;
                padding: 40px 0 0 45px;
            }
        }

        .main-text {
            font-size: 22px;
            font-weight: bold;
            color: #5d5d5d;
            text-align: center;
            margin: 0 auto;
            width: 100%;
            box-sizing: border-box;
            max-width: 1154px;
            padding: 510px 20px 0;
        }

        .about-text {
            font-size: 18px;
            line-height: 23px;
            color: #5d5d5d;
            text-align: right;
            font-weight: bold;
            font-style: italic;
            margin: 0 auto;
            width: 100%;
            max-width: 1154px;
            box-sizing: border-box;
            padding: 130px 575px 0 40px;

            .hl {
                color: #3396d9;
            }

            .play {
                background: #ffbf01;
                display: block;
                box-sizing: border-box;
                color: #FFFFFF;
                font-size: 15px;
                position: relative;
                padding: 12px 75px 12px 23px;
                font-weight: normal;
                margin-bottom: 30px;

                &:before, &:after {
                    content: '';
                    display: block;
                    position: absolute;
                }
                &:before {
                    left: 10px;
                    top: -18px;
                    background: transparent url(../img/exclamation.png) 0 0 no-repeat;
                    width: 16px;
                    height: 62px;
                    line-height: 18px;
                }

                &:after {
                    background: transparent url(../img/play-button.png) 0 0 no-repeat;
                    width: 45px;
                    height: 45px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 15px;
                }
            }

        }

        .nav-buttons {
            text-align: right;
            position: absolute;
            bottom: 135px;
            left: 50%;
            width: 550px;
            transform: translateX(-100%);

            .button {
                text-decoration: none;
                outline: none;
                display: inline-block;
                background: #ffbf01;
                font-size: 30px;
                font-weight: bold;
                padding: 20px 25px;
                color: #FFFFFF;
                text-transform: uppercase;
                margin-left: 20px;
            }
        }
    }

    &.home2 {
        width: 100%;
        height: 861px;
        background-color: rgb(57,117,228); /* Old browsers */
        background: url(../img/home-page2-new-new.png) center bottom no-repeat, linear-gradient(45deg,  rgba(57,117,228,1) 0%,rgba(57,161,228,1) 100%);

    }
}